extends base.pug

block content
    body 
        section#introSection 
            div.big Welcome to Julias's Dance Academy 
            div.small Eat Dance Sleep Repeat 

        section#missionSection 
            h1 Our Mission
            div.row
                div.card
                    h2 Dance Perfection
                    div.card-box 
                        div.card-img
                            img(src="/img/1.png" alt="Card 1")
                        div.card-content 
                            p “Perfection” in the eyes of dancers is thinness as well as good health, great performance, and overall - the best dancer. 

                div.card
                    h2 Dance The Way You Like
                    div.card-box 
                        div.card-img
                            img(src="/img/2.png" alt="Card 1")
                        div.card-content 
                            p It's pretty impossible to dance and stay in a bad mood. That's because dance is exercise and exercise releases endorphins.

                div.card
                    h2 Expert Teaching
                    div.card-box 
                        div.card-img
                            img(src="/img/3.png" alt="Card 1")
                        div.card-content 
                            p Expert teachers are aware of what they are doing; they monitor and adjust their teaching behaviours to bring out the best in their students.

        section#sponserSection 
            h1 Our Sponsers
            div#sponser
                img(src="/img/logo1.png" alt="Sponser Image" class="sp-img")
                img(src="/img/logo2.png" alt="Sponser Image" class="sp-img")
                img(src="/img/logo3.png" alt="Sponser Image" class="sp-img")
                img(src="/img/logo4.png" alt="Sponser Image" class="sp-img")
